
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#game-screen{
;
}

canvas{
    background-size: contain;
}

.container{
    border-style: solid;
    border-color: black;
}
