
body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}
h1, h3{
    color: tomato;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-bottom: 0px;
    font-size: 60px;
}

#restartButton {
    border: red solid 2px;
    border-radius: 10px;
    
}

#restartButton:hover {
    background-color: darkred;
}
