
body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}
#gameStart, #playHUD{
    position: absolute;
    visibility: hidden;
}
#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
}
h1,h2, h3{
    color: honeydew;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-bottom: 0px;
    font-size: 60px;
}

#gameRestart {
    border: darkcyan;
    border: solid 2px;
    border-radius: 10px;
    
}

#gameRestart:hover {
    background-color: midnightblue;
}
